<button class="btn btn-default pull-right" ng-click="save()">
  <i class="fa fa-check"></i>Save
</button>
<h3>Election: <input type="text" ng-model="election.name" /></h3>
<legend>Candidates</legend>
<form class="form-inline">
  <!-- <button class="btn" ng-click=""><i class="icon-copy"></i>Copy</button> -->
  <button class="btn btn-default" ng-click="addCandidate()">
    <i class="fa fa-plus"></i>Add Candidate
  </button>
</form>
<table class="table" style="width: 100%">
  <thead>
    <tr>
      <th width="16px"></th>
      <th>Candidate</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="candidate in election.candidates">
      <td width="16px" align="center">
        <button class="btn btn-link" ng-click="removeCandidate($index)"><i class="fa fa-remove"></i></button>
      </td>
      <td><input type="text" placeholder="name" ng-model="candidate.name" /></td>
    </tr>
  </tbody>
</table>
<legend>Ballots</legend>
  <button class="btn btn-default" ng-click="addCandidate()">
    <i class="fa fa-remove"></i>Delete Unused Ballots
  </button>
  <button class="btn btn-default" ng-click="addCandidate()">
    <i class="fa fa-plus"></i>Generate
  </button>
  <button class="btn btn-default" ng-click="addCandidate()">
    <i class="fa fa-print"></i>Print
  </button>

